---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HomePosts from "../components/HomePosts.astro";
import ColorScript from "../components/ColorScript.astro";
import Tags from "../components/Tags.astro";
import { title, subtitle } from "../settings/settings.json";
import { Content as About } from "./about.md";
import getTags from "../scripts/getTags";

// This manually defines the variables Vercel was looking for
const SITE_TITLE = "josephpacksblog";
const SITE_DESCRIPTION = "I write words, do marketing, and make things.";

const posts = await getCollection("posts");
const tags = getTags(posts);

const lastThreePosts = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Joseph Pack</h1>
      <p class="intro">I write words, do marketing, and make things</p>

      <div class="bio">
        <p>I was co-founder of Nativve, and Nativve Research. I sold my shares in both companies in 2017 to travel the world and pursue new things.</p>
        <p>I was co-owner of fintech startup, Fellow Pay. I left in 2021 to pursue a burning passion.</p>
        <p>That passion project is <a href="https://drugfreeadhd.org">drugfreeadhd.org</a>.</p>
      </div>

      <HomePosts allPosts={lastThreePosts} />
      <div class="all-posts-link-container">
        <a href="/posts" class="all-posts-link">See all posts</a>
      </div>
      <Tags tags={tags} />
    </main>
    <Footer />
    <ColorScript />
  </body>
</html>
