---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import EmailSignup from "../components/EmailSignup.astro";
import { title as siteTitle, subtitle } from "../settings/settings.json";

const { frontmatter } = Astro.props;
const pageTitle = frontmatter?.title || siteTitle;
---

<html lang="en-us">
	<BaseHead title={pageTitle} description={subtitle} />

	<body>
		<Header />
		<main>
			<h1>{pageTitle}</h1>
			<div class="blog-post">
				<slot />
			</div>

			<EmailSignup />
		</main>
		<Footer />
	</body>
</html>
